@import '@fontsource/josefin-sans';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body {
        @apply bg-base-100 text-base-content;
    }

    :root {
        --color-primary: 185 0 104;
        --color-primary-content: 242 242 242;
        --color-secondary: 199 0 113;
        --color-secondary-content: 242 242 242;
        --color-neutral: 209 70 181;
        --color-neutral-content: 255 255 255;

        --color-base-100: 63 14 68;
        --color-base-200: 135 29 145; 
        --color-base-300: 98 21 106; /* TODO ? */
        --color-base-content: 242 242 242;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --color-primary: 185 0 104;
            --color-primary-content: 255 255 255;
            --color-secondary: 116 86 95;
            --color-secondary-content: 255 255 255;
            --color-neutral: 255 217 227;
            --color-neutral-content: 32 26 28;

            --color-base-100: 255 251 255;
            --color-base-200: 255 214 255;
            --color-base-300: 255 214 231; /* TODO ? */
            --color-base-content: 32 26 28;
        }
    }
}
@layer components {
    .cool {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 6rem 100%);
    }
}