{{ define "headers" }}
{{ template "_internal/opengraph.html" . }}
{{ end }}
{{ define "main" }}

<div class="p-8">
    <section class="container mx-auto">
        <div class="breadcrumbs">
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            </ul>
        </div>
        <a class="btn rounded-full my-6" href="/blog">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5L8.25 12l7.5-7.5" />
            </svg>
            Back
        </a>
        <h1 class="text-5xl font-bold text-primary">{{ .Title }}</h1>
        <small class="block my-3">
            Published on {{ .Date }}<br>
            By {{ index .Params.Author 0 }}
        </small>
        <div class="flex flex-wrap gap-1">
            {{ range (.GetTerms "categories") }}
                <a class="badge badge-lg badge-primary rounded-none hover:badge-outline hover:-translate-x-0.5 hover:-translate-y-0.5" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        <div class="flex flex-wrap gap-1 my-3">
            {{ range (.GetTerms "tags") }}
                <a class="badge badge-info badge-outline rounded-none hover:-translate-x-1 hover:-translate-y-1" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
            {{ end }}
        </div>
        <div class="prose lg:prose-xl max-w-none">
            {{ .Content }}
        </div>
    </section>
</div>

{{ end }}