<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Mia Winter">
    <meta name="description" content="The personal webpage of Mia Winter!">

    <title>{{ .Site.Title }} - {{ .Title }}</title>

    {{ $style := resources.Get "css/index.min.css" | resources.Fingerprint "sha256" }}
    <link rel="stylesheet"
          href="{{ $style.Permalink }}"
          integrity="{{ $style.Data.Integrity }}" />

    <link rel="icon" type="image/png" href="/favicon.png">

    <!--< Page specific headers >-->
    {{ block "headers" . }}
    {{ end }}
    <!--</ Page specific headers >-->
</head>

<body>
</body>
    <main class="">
        {{ block "main" . }}
            Error no Content (500 or something probably)
        {{ end }}
    </main>

    <footer class="footer bg-neutral text-neutral-content p-10">
        <div>
            <span class="footer-title text-neutral-content">Socials</span>
            <ul>
                <li>
                    <a class="link hover:text-primary" rel=me target="blank" href="https://tech.lgbt/@MiaWinter">Mastodon (glitch-soc actually)</a>
                </li>
                <li>
                    <a class="link hover:text-primary" rel=me target="blank" href="https://github.com/miawinter98">GitHub</a>
                </li>
                <li class="mt-3">
                    <a href='https://ko-fi.com/M4M1RA8O2' target='_blank'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi5.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a>
                </li>
            </ul>
        </div>
        <div>
            <span class="footer-title">Navigation</span>
            <ul>
                <li class="flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd" d="M9.293 2.293a1 1 0 011.414 0l7 7A1 1 0 0117 11h-1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-3a1 1 0 00-1-1H9a1 1 0 00-1 1v3a1 1 0 01-1 1H5a1 1 0 01-1-1v-6H3a1 1 0 01-.707-1.707l7-7z" clip-rule="evenodd" />
                    </svg>
                    <a class="link hover:text-primary" rel=me href="/">Home</a>
                </li>
                <li class="flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd" d="M3.28 2.22a.75.75 0 00-1.06 1.06l14.5 14.5a.75.75 0 101.06-1.06l-1.745-1.745a10.029 10.029 0 003.3-4.38 1.651 1.651 0 000-1.185A10.004 10.004 0 009.999 3a9.956 9.956 0 00-4.744 1.194L3.28 2.22zM7.752 6.69l1.092 1.092a2.5 2.5 0 013.374 3.373l1.091 1.092a4 4 0 00-5.557-5.557z" clip-rule="evenodd" />
                        <path d="M10.748 13.93l2.523 2.523a9.987 9.987 0 01-3.27.547c-4.258 0-7.894-2.66-9.337-6.41a1.651 1.651 0 010-1.186A10.007 10.007 0 012.839 6.02L6.07 9.252a4 4 0 004.678 4.678z" />
                    </svg>
                    <a class="link hover:text-primary" href="/privacy">Privacy</a>
                </li>
                <li class="flex gap-1">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                        <path fill-rule="evenodd" d="M8 7a5 5 0 113.61 4.804l-1.903 1.903A1 1 0 019 14H8v1a1 1 0 01-1 1H6v1a1 1 0 01-1 1H3a1 1 0 01-1-1v-2a1 1 0 01.293-.707L8.196 8.39A5.002 5.002 0 018 7zm5-3a.75.75 0 000 1.5A1.5 1.5 0 0114.5 7 .75.75 0 0016 7a3 3 0 00-3-3z" clip-rule="evenodd" />
                    </svg>
                    <a class="link hover:text-primary" rel=me href="/pgp">PGP</a>
                </li>
            </ul>
        </div>
        <div class="hidden md:grid">
            <span class="footer-title">This layout</span>
            <ul>
                <li>doesn't work</li>
                <li>with only 2 columns</li>
                <li>so... have another one</li>
            </ul>
        </div>
    </footer>
    <div class="w-full flex flex-col justify-center text-center bg-neutral text-neutral-content h-24">
        <span class="">&copy; <time>{{ time.Now.Year }}</time> Mia Rose Winter</span>
    </div>
</html>
