{{ define "main" }}

<div class="p-8">
    <div class="container mx-auto">
        <div class="breadcrumbs mb-6">
            <ul>
                <li><a href="/">Homepage</a></li>
                <li><a href="{{.Permalink}}">{{.Title}}</a></li>
            </ul>
        </div>
        <h1 class="text-5xl my-6">{{.Title}}</h1>
        <div class="prose xl:prose-xl max-w-none">
            {{ .Content }}
        </div>
        {{ range .Pages }}
        <article class="hero bg-neutral flex my-3 rounded">
            <div class="hero-content overflow-x-hidden text-primary-neutral w-full max-w-none">
                <div class="flex flex-wrap flex-col w-full">
                    <div class="flex mt-1 gap-1">
                        {{ range (.GetTerms "categories") }}
                            <a class="badge badge-lg badge-primary rounded-sm hover:badge-secondary" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        {{ end }}
                    </div>


                    <a class="hover:link" href="{{ .Permalink }}">
                        <h2 class="text-3xl w-full mb-1">{{ .Title }}</h2>
                        <small><time datetime="{{ .Date | time.Format "2006-01-02" }}">{{ .Date | time.Format "02.01.2006" }}</time></small>

                        <div class="line-clamp-4 my-3">
                            {{ safeHTML .Summary }}
                        </div>
                        <p><small><strong>Read More...</strong></small></p>
                    </a>
                    <div class="flex flex-wrap gap-1 my-3 justify-end">
                        {{ range (.GetTerms "tags") }}
                            <a class="badge badge-outline hover:badge-ghost rounded-sm" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                        {{ end }}
                    </div>
                </div>
            </div>
        </article>
        {{ end }}
    </div>
</div>

{{ end }}