---
import CardLayout from "layouts/CardLayout.astro";
import BookCard from "shared/BookCard.astro";
---

<CardLayout title="Mia Rose Winter" cards="Books" header="Behold, all the cool stuff I have written.">
    <div class="flex flex-col gap-y-4">
        <BookCard title="Building a House of Roses"
                    series="House of Roses"
                    description="First chapter now available as preview while I'm working on finishing this book"
                    genres={["Cyberpunk", "Romance", "Tragedy"]}>
            <!-- synopsis here -->

            <ul slot="footer">
                <li>
                    <a class="underline"
                        href="/books/Building a House of Roses/Building a House of Roses - First Chapter.pdf">
                        Download Preview
                    </a>
                </li>
            </ul>
        </BookCard>
    </div>
</CardLayout>