---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import BookCard from "../components/BookCard.astro";
---

<Layout title="Mia Rose Winter">
    <Header>
        <p class="text-lg">
            Behold, all the cool stuff I <span class="line-through" aria-hidden="true">found</span> have written.
        </p>
        <p>&nbsp;</p>
    </Header>
    <main class="transition-colors ease-linear duration-300 py-6 px-4 md:px-12">
        <h2 class="text-2xl mb-3">Books</h2>
        <div class="flex flex-wrap justify-center md:justify-start gap-x-8 gap-y-4">
            <BookCard title="Building a House of Roses"
                      description="First chapter now available as preview while I'm working on finishing this book"
                      release="9999-12-31">
                <ul>
                    <li>
                        <a class="underline"
                           href="/books/Building a House of Roses/Building a House of Roses - First Chapter.pdf">
                            Download Preview
                        </a>
                    </li>
                </ul>
            </BookCard>
        </div>
    </main>
</Layout>