{{ define "main" }}

<header class="feature bg-neutral text-neutral-content">
    <div class="feature-content">
        <div class="grid place-content-center avatar rounded">
            <div class="w-full max-w-sm avatar rounded">
                <img decoding="async" src="/img/profile_picture.png" alt="todo (sorry)" />
            </div>
        </div>
        <div class="flex-1 flex flex-col justify-center">
            <h2 class="text-3xl lg:text-5xl font-bold">Mia Rose Winter</h2>
            <p class="lg:text-xl py-6">
                Part time Software Developer and full time Catgirl
            </p>
            <p class="lg:text-xl">
                She/Her
            </p>
        </div>
    </div>
</header>

<section class="feature h-auto">
    <div class="feature-content">
        <div>
            <h1 class="text-3xl lg:text-5xl font-bold mb-6">{{ .Title }}</h1>
            <div class="prose lg:prose-xl max-w-none">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

<div class="p-8">
    <section class="flex flex-col lg:grid lg:grid-cols-2 gap-3 justify-items-stretch container mx-auto my-6">
        <h2 class="col-span-2 text-3xl lg:text-5xl font-bold my-6">About Me</h2>
        <div class="card bg-base-200 text-base-content shadow-xl rounded">
            <section class="card-body">
                <h2 class="card-title">Mia Rose Winter</h2>
                <dl class="grid grid-cols-1 md:grid-cols-2 space-y-2">
                    <dt class="font-bold md:font-normal">Name</dt>
                    <dd>Mia Rose Winter</dd>
                    <dt class="font-bold md:font-normal">Birth</dt>
                    <dd><time>1998-08-05</time></dd>
                    <dt class="font-bold md:font-normal">Favorite Colors</dt>
                    <dd>Pink, Purple, Yellow (it makes me happy), and sometimes Blue</dd>
                    <dt class="font-bold md:font-normal">Hobbys</dt>
                    <dd>Programming, Video Editing, Watching Movies, Baking, Food</dd>
                    <dt class="font-bold md:font-normal">Persona</dt>
                    <dd>Extrovert, Happy, Friendly, Cuddly, Very Affectionate</dd>
                    <dt class="font-bold md:font-normal">Labels</dt>
                    <dd>Trans, Saphic, Poly, Demi- and Greyasexual</dd>
                </dl>
            </section>
        </div>
        <div class="card bg-base-200 text-base-content shadow-xl rounded">
            <section class="card-body">
                <h2 class="card-title">Interests</h2>
                <ul class="space-y-3">
                    <li>My Girlfriend - I love her</li>
                    <li>Music composing - but I'm not good at it yet</li>
                    <li>Politics - because who needs to be happy all the time</li>
                    <li>Black Holes - How can you not love them? They are awesome</li>
                    <li>Tropes (Writing, Movie, ...) - They are fun</li>
                    <li>A bit of History</li>
                    <li>sometimes Anime</li>
                </ul>
            </section>
        </div>

        <h2 class="col-span-2 text-3xl lg:text-5xl font-bold my-6">Skills</h2>
        <div class="card bg-base-200 text-base-content shadow-xl rounded">
            <section class="card-body">
                <h2 class="card-title">Languages</h2>
                <ul class="space-y-3">
                    <li>The C Family (C, C++, java, C#)</li>
                    <li>C#/.NET Windows Presentation Foundation (WPF)</li>
                    <li>C#/.NET Entity Framework (6 and Core)</li>
                    <li>C#/.NET Asp.NET Core - Razor and Blazor (inkl. Net Blazor 8)</li>
                    <li>Html, CSS, SCSS, Javascript, tailwind</li>
                    <li>Docker (+ compose)</li>
                    <li>Python</li>
                </ul>
            </section>
        </div>
        <div class="card bg-base-200 text-base-content shadow-xl rounded">
            <section class="card-body">
                <h2 class="card-title">Human Languages</h2>
                <ul class="space-y-3">
                    <li>German - native</li>
                    <li>English - C2.1</li>
                    <li>Japanese - A1.1</li>
                </ul>
            </section>
        </div>
    </section>
</div>

<section class="feature bg-neutral text-neutral-content">
    <div class="feature-content">
        <div class="flex-1 flex flex-col justify-center">
            <h2 class="text-3xl lg:text-5xl font-bold">The Winter Software Blog</h2>
            <p class="lg:text-xl my-6">
                This publicly available blog is running <a class="link" target="_blank" href="https://github.com/miawinter98/wave">Wave</a>,
                my open source blogging engine, and you will find articles about various topics from me and other people. From tech
                to music to infodumps about nieche and weird topics, you are sure to find something (or not, I don't know who you are,
                I'm just a website).
            </p>
            <a class="btn btn-lg btn-primary rounded-none btn-wide" href="https://blog.winter-software.com">Start reading now</a>
        </div>
    </div>
</section>

<div class="p-8">
    <section class="container mx-auto my-6">
        <h2 class="text-3xl lg:text-5xl font-bold mb-6">Projects</h2>

        <article class="hero h-96 mb-6 bg-base-200 rounded" style="background-image: url('/img/heros/wave.png'); background-position: top">
            <div class="hero-overlay bg-opacity-60 rounded"></div>
            <div class="hero-content text-center max-w-full overflow-x-hidden">
                <div class="max-w-md">
                    <h2 class="text-3xl lg:text-5xl font-bold">Wave</h2>
                    <h3 class="text-xl lg:text-3xl my-3">The Open Source Blogging Engine.</h3>
                    <div class="menu menu-horizontal mt-3">
                        <a class="btn btn-secondary rounded-none" href="https://blog.winter-software.com/">Start reading now</a>
                        <a class="btn btn-secondary btn-outline rounded-none" target="_blank" href="https://github.com/miawinter98/wave" title="GitHub Repo">
                            {{ partialCached "github_icon.html" . }}
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <article class="hero h-96 mb-6 bg-base-200 rounded" style="background-image: url('/img/heros/geekslist.png'); background-position: top">
            <div class="hero-overlay bg-opacity-80 rounded"></div>
            <div class="hero-content text-center max-w-full overflow-x-hidden">
                <div class="max-w-md">
                    <h2 class="text-3xl lg:text-5xl font-bold">GeeksList</h2>
                    <h3 class="text-xl lg:text-3xl my-3">Keep track of your favorite Shows and Movies.</h3>
                    <div class="menu menu-horizontal mt-3">
                        <a class="btn btn-secondary rounded-none" target="_blank" href="https://geekslist.de/">Sign up now</a>
                    </div>
                </div>
            </div>
        </article>

        <article class="hero h-96 mb-6 bg-base-200 rounded">
            <div class="hero-overlay bg-opacity-0 rounded"></div>
            <div class="hero-content text-center max-w-full overflow-x-hidden">
                <div class="max-w-md">
                    <h2 class="text-3xl lg:text-5xl font-bold">Just Short It!</h2>
                    <h3 class="text-xl lg:text-3xl my-3">The most KISS single-user URL shortener there is.</h3>
                    <p>I'm really proud of this one</p>
                    <div class="menu menu-horizontal mt-3">
                        <a class="btn btn-secondary rounded-none" href="https://hub.docker.com/r/miawinter/just-short-it">Docker Hub</a>
                        <a class="btn btn-secondary btn-outline rounded-none" target="_blank" href="https://github.com/miawinter98/just-short-it" title="GitHub Repo">
                            {{ partialCached "github_icon.html" . }}
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <article class="hero h-96 mb-6 bg-base-200 text-neutral-content rounded" style="background: linear-gradient(0deg, rgba(91,206,250,1) 0%, rgba(91,206,250,1) 20%, rgba(245,169,184,1) 20%, rgba(245,169,184,1) 40%, rgba(255,255,255,1) 40%, rgba(255,255,255,1) 60%, rgba(245,169,184,1) 60%, rgba(245,169,184,1) 80%, rgba(91,206,250,1) 80%, rgba(91,206,250,1) 100%);">
            <div class="hero-overlay bg-opacity-60 rounded"></div>
            <div class="hero-content text-center max-w-full overflow-x-hidden">
                <div class="max-w-md">
                    <h2 class="text-3xl lg:text-5xl font-bold">miawinter.de</h2>
                    <p class="pt-6">
                        Made with:
                    </p>
                    <ul class="pb-6 grid grid-cols-2 space-y-1">
                        <li><a class="link" target="_blank" href="https://gohugo.io/">hugo</a></li>
                        <li><a class="link" target="_blank" href="https://postcss.org/">PostCSS</a></li>
                        <li><a class="link" target="_blank" href="https://github.com/postcss/postcss-cli/">PostCSS CLI</a></li>
                        <li><a class="link" target="_blank" href="https://tailwindcss.com/">tailwindcss</a></li>
                        <li><a class="link" target="_blank" href="https://github.com/tailwindlabs/tailwindcss-typography/">tailwind typography</a></li>
                        <li><a class="link" target="_blank" href="https://daisyui.com/">daisyUI</a></li>
                        <li><a class="link" target="_blank" href="https://heroicons.com/">heroicons</a></li>
                        <li><a class="link" target="_blank" href="https://cssnano.co/">cssnano</a></li>
                        <li><a class="link" target="_blank" href="https://github.com/postcss/autoprefixer/">autoprefixer</a></li>
                    </ul>
                    <p>
                        Thanks to <a class="link" target="_blank" href="https://cssgradient.io">cssgradient.io</a> and
                        <a class="link" target="_blank" href="https://www.flagcolorcodes.com/transgender">flagcolorcodes.com</a>
                        for helping me to make this background
                    </p>
                    <div class="menu menu-horizontal">
                        <a class="btn btn-secondary rounded-none" href="https://miawinter.de/">Go to Site</a>
                        <a class="btn btn-secondary btn-outline rounded-none" target="_blank" href="https://github.com/miawinter98/miawinter.de" title="GitHub Repo">
                            {{ partialCached "github_icon.html" . }}
                        </a>
                    </div>
                </div>
            </div>
        </article>

        <article class="hero h-96 mb-6 bg-base-200 rounded" style="background-image: url(https://winter-software.com/images/main-hero.jpg)">
            <div class="hero-overlay bg-opacity-60 rounded"></div>
            <div class="hero-content text-center text-neutral-content max-w-full overflow-x-hidden">
                <div class="">
                    <h2 class="text-3xl lg:text-5xl font-bold whitespace-nowrap">winter-software.com</h2>
                    <p class="p-6">
                        Under Construction
                    </p>
                    <a class="btn btn-secondary rounded-none" href="https://winter-software.com/">Go to Site</a>
                </div>
            </div>
        </article>
    </section>
</div>

{{ end }}
