---
import Layout from "./Layout.astro";
import '@fontsource/atkinson-hyperlegible-next/400';
import '@fontsource/atkinson-hyperlegible-next/700';
import '@fontsource/atkinson-hyperlegible-next/400-italic.css';
import '@fontsource/atkinson-hyperlegible-next/700-italic.css';

interface Props {
	title: string;
	description?: string;
	header?: string;
}

const { title, description, header } = Astro.props;
---

<Layout title={title} description={description} header={header}>
    <slot name="head" slot="head" />

    <div>
        <main class="prose font-prose container mx-auto max-w-3xl xl:max-w-5xl p-4 bg-accent/10 min-h-full">
            <h1>{ title }</h1>
            <hr class="border-primary -mx-2" />
            <slot />
        </main>
    </div>
</Layout>
