---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/core/Header.astro";

interface Props {
	title: string;
	description?: string;
	header?: string;
}

const { title, description = "The personal webpage of Mia Rose Winter!", header } = Astro.props;
---

<BaseLayout title={title} description={description}>
    <Header>
        <span class="text-lg">
            {header ?? description}
        </span>
    </Header>

	<slot />
</BaseLayout>

