@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@theme {
    --font-sans: "Josefin Sans", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-old: serif;

    --text-sm: 0.750rem;
    --text-sm--line-height: inherit;
    --text-base: 1rem;
    --text-base--line-height: inherit;
    --text-lg: 1.1rem;
    --text-lg--line-height: inherit;
    --text-xl: 1.333rem;
    --text-xl--line-height: inherit;
    --text-2xl: 1.777rem;
    --text-2xl--line-height: inhert;
    --text-3xl: 2.369rem;
    --text-3xl--line-height: inherit;
    --text-4xl: 3.158rem;
    --text-4xl--line-height: inherit;
    --text-5xl: 4.210rem;
    --text-5xl--line-height: 1.5;

    --shadow-block: 4px 4px 0 0 #020202;
}
@theme inline {
    --color-primary: var(--color-primary);
    --color-primary-content: var(--color-primary-content);
    --color-secondary: var(--color-secondary);
    --color-secondary-content: var(--color-secondary-content);
    --color-neutral: var(--color-neutral);
    --color-neutral-content: var(--color-neutral-content);

    --color-base-100: var(--color-base-100);
    --color-base-200: var(--color-base-200);
    --color-base-300: var(--color-base-300);
    --color-base-content: var(--color-base-content);
}

@layer base {
    html, body {
        @apply bg-base-100 text-base-content;
    }

    :root {
        --color-primary: oklch(0.511 0.209 357.035);
        --color-primary-content: white;
        --color-secondary: oklch(0.487 0.042 359.019);
        --color-secondary-content: white;
        --color-neutral: oklch(0.92 0.044 0.338);
        --color-neutral-content: oklch(0.226 0.01 355.846);

        --color-base-100: oklch(0.992 0.007 325.627);
        --color-base-200: oklch(0.923 0.07 326.127);
        --color-base-300: oklch(0.916 0.051 351.279); /* TODO ? */
        --color-base-content: oklch(0.226 0.01 355.846);
    }

    [data-theme="dark"] {
        --color-primary: oklch(0.511 0.209 357.035);
        --color-primary-content: oklch(0.961 0 89.876);
        --color-secondary: oklch(0.54 0.221 356.764);
        --color-secondary-content: oklch(0.961 0 89.876);
        --color-neutral: oklch(0.625 0.211 336.837);
        --color-neutral-content: white;

        --color-base-100: oklch(0.275 0.105 323.902);
        --color-base-200: oklch(0.458 0.191 324.14);
        --color-base-300: oklch(0.367 0.149 323.79); /* TODO ? */
        --color-base-content: oklch(0.961 0 89.876);
    }
}
@layer components {
    .cool {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 6rem 100%);
    }
}
