---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const posts = (await getCollection('writing')).sort(
    (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
---

<Layout title="Writing" 
        description="Little writing exercises and short stories I made. No guarantees for quality." 
        header="Little writing exercises and short stories I made. No guarantees for quality.">
    <main class="container p-4 mx-auto">
        <dl class="grid grid-cols-[auto_1fr] gap-x-2">
            {posts.map(post => (
                <dt>{post.data.date.toLocaleDateString("en-GB", {})}</dt>
                <dd><a class="underline" href={`/writing/${post.id}`}>{post.data.title}</a></dd>
            ))}
        </dl>
    </main>
</Layout>