<article class="media">
    <figure class="media-left">
        <p class="image is-64x64">
            {{ with .Get "picture" }}
            <img width="64" height="64" src="{{ . }}" alt>
            {{ else }}
            <img width="64" height="64" src="https://bulma.io/images/placeholders/128x128.png" alt>
            {{ end }}
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{ .Get "author" }}</strong> <small>@{{.Get "username"}}</small> <small>69m</small><br>
                {{ .Inner }}
            </p>
        </div>
        <nav class="level is-mobile">
            <div class="level-left">
                <a class="level-item has-text-primary">
                    <span class="icon is-small"><i class="fa-fw fa-regular fa-thumbs-up"></i></span>420
                </a>
                <a class="level-item has-text-primary">
                    <span><i class="fa-fw fa-solid fa-retweet"></i></span>5
                </a>
                <a class="level-item has-text-primary">
                    <span class="icon is-small"><i class="fa-fw fas fa-heart"></i></span>42
                </a>
            </div>
        </nav>
    </div>
</article>
